<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MangaKura</title>
    {% load static %}
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <nav>
        {% if user.is_authenticated %}
            <div class="left-buttons">
                
                    <a href="/">🏠</a>
                    <!-- <form method="post" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button type="submit" class="logout-button">Logout</button>
                    </form> -->
                    <!-- Search Bar -->
                    <form method="get" action="{% url 'search' 'Any' %}" class="search-container">
                        <div id="search-bar-horizontalizer">
                            <input type="text" name="q" placeholder="Type something here..." required>
                            <select name="category" id="search-category" onchange="updateSearchAction()">
                                <option value="Any" selected>Any</option>
                                <option value="Manga">Manga</option>
                                <option value="Variant">Variant</option>
                                <option value="Wishlist">Wishlist</option>
                            </select>
                            <button class="search-icon" type="submit">🔍</button>
                        </div>
                    </form>

            </div>

            <div class="right-buttons">
                    <!--
                    <a href="/insertManga">Add Manga 📖</a>
                    <a href="/insertVariant">Add Variant 💰</a>
                    <a href="/insertWishlistItem">Add Wishlist Item 💫</a>
                    <a href="/view_manga_list">Your Mangas 📦</a>
                    <a href="/view_variant_list">Your Variants 💎</a>
                    <a href="/wishlist">Your Wishlist 🪐</a>
                    -->
                    <a href="/insertManga">➕📖</a>
                    <a href="/insertVariant">➕💎</a>
                    <a href="/insertWishlistItem">➕🪐</a>
                    <a href="/view_manga_list">👀📖</a>
                    <a href="/view_variant_list">👀💎</a>
                    <a href="/wishlist">👀🪐</a>
            </div>

        {% else %}
            <div class="left-buttons"></div>

            <div class="right-buttons">    
                <a href="{% url 'login' %}">Login</a>
                <a href="{% url 'register' %}">Register</a>
            </div>

        {% endif %}
    </nav>

    <main>
        {% block content %}{% endblock %}
    </main>

    <script>
        function updateSearchAction() {
            let category = document.getElementById("search-category").value;
            let form = document.querySelector(".search-container");
            form.action = `/search/${category}`;
        }
    </script>

</body>
</html>
