{% extends "base.html" %}

{% block content %}
    <h2>Your Variant List</h2>
    <ul>
        {% for variant in user_variants %}
            <li>
                <a href="{% url 'variant_detail' variant_id=variant.id %}">{{ variant.variant_title }}</a>
                
                <!-- Display Images -->
                <div class="variant-images">
                    {% for image in variant.images.all %}
                        <img src="{{ image.image.url }}" alt="Image for {{ variant.variant_title }}" class="variant-image">
                    {% empty %}
                        <p>No images available for this variant.</p>
                    {% endfor %}
                </div>
            </li>
        {% empty %}
            <li>No variants found.</li>
        {% endfor %}
    </ul>
{% endblock %}
