{% extends "base.html" %}

{% block content %}

    <h2>Your Variant List</h2>

    Statistics: <br>
    🔹 Total = {{ stats.total_variants }} <br>
    <br>

    <!-- Sort by Dropdown -->
    <div class="sort-options">
        <label for="sort">Sort by:</label>
        <button onclick="window.location.href='{{ request.path }}?sort=location'">Location</button>
    </div>

    

    <ul>
        {% for variant in user_variants %}
            <li id="centralized-li">
                <a href="{% url 'variant_detail' variant_id=variant.id %}">{{ variant.variant_title }}</a>

                <!-- Display Images -->
                <div class="variant-images">
                    {% for image in variant.images.all %}
                        <img src="{{ image.image.url }}" alt="Image for {{ variant.variant_title }}" class="variant-image">
                    {% empty %}
                        <p>No images available for this variant.</p>
                    {% endfor %}
                </div>
            </li>
        {% empty %}
            <li id="centralized-li">No variants found.</li>
        {% endfor %}
    </ul>
{% endblock %}
