{% extends "base.html" %}

{% block content %}

    <h2>Your Manga List</h2>

    Statistics: <br>
    🔹 Total = {{ stats.total_mangas }} <br>
    🔹 All Read = {{ stats.read_mangas }}/{{ stats.total_mangas }} <br>
    🔹 Unread = {{ stats.unread_mangas }}/{{ stats.total_mangas }} <br>
    🔹 Fully published = {{ stats.completed_mangas }}/{{ stats.all_published_mangas }} <br>
    🔹 Completed = {{ stats.completed_mangas }}/{{ stats.total_mangas }} <br>
    🔹 Completed but unread = {{ stats.completed_but_unread_mangas }}/{{ stats.total_mangas }} <br>
    🔹 Total money spent = {{ stats.total_money_spent }} <br>
    <br>


    <!-- Sort by Dropdown -->
    <div class="sort-options">
        <label for="sort">Sort by:</label>
        <button onclick="window.location.href='http://localhost:8000/viewManga/sortBy?sort=Location'">Location</button>
    </div>

    
    <ul>
        {% for manga in user_manga %}
            <li id="centralized-li"><a href="{% url 'manga_detail' manga_id=manga.id %}">{{ manga.manga_title }}</a></li>
        {% empty %}
            <li id="centralized-li">No manga found.</li>
        {% endfor %}
    </ul>
{% endblock %}
