{% extends "base.html" %}

{% block content %}

    <!-- Sort by Dropdown -->
    <div class="sort-options">
        <label for="sort">Sort by:</label>
        <button onclick="window.location.href='http://localhost:8000/viewManga/sortBy?sort=Location'">Location</button>
    </div>

    <h2>Your Manga List</h2>
    <ul>
        {% for manga in user_manga %}
            <li id="centralized-li"><a href="{% url 'manga_detail' manga_id=manga.id %}">{{ manga.manga_title }}</a></li>
        {% empty %}
            <li id="centralized-li">No manga found.</li>
        {% endfor %}
    </ul>
{% endblock %}
