{% extends "base.html" %}

{% block content %}
    {{ error_msg }}
    
    <h2>Your Manga List</h2>

    Statistics: <br>
    🔹 Total = {{ stats.total_mangas }} <br>
    🔹 All Read = {{ stats.read_mangas }}/{{ stats.total_mangas }} <br>
    🔹 Unread = {{ stats.unread_mangas }}/{{ stats.total_mangas }} <br>
    🔹 Completed = {{ stats.completed_mangas }}/{{ stats.total_mangas }} <br>
    🔹 Completed but unread = {{ stats.completed_but_unread_mangas }}/{{ stats.total_mangas }} <br>
    🔹 Total money spent = {{ stats.total_money_spent }} <br>
    <br>


    <!-- Sort by Dropdown -->
    <div class="sort-options">
        <label for="sort">Sort by:</label>
        <button onclick="window.location.href='http://localhost:8000/viewManga/sortBy?sort=Location'">Location</button>

        <br>    <br>

        <!-- Location Buttons -->
        Go to:
        <br>    <br>
        {% for location, variants in sorted_groups %}
            <button onclick="window.location.href='#{{ location }}'">{{ location }}</button>
            <br>    <br>
        {% endfor %}
    </div>

    {% for location, mangas in sorted_groups %}
        <h3 id="{{ location }}">{{ location }}</h3>
        <ul>
            {% for manga in mangas %}
                <li id="centralized-li">
                    <a href="{% url 'manga_detail' manga_id=manga.id %}">{{ manga.manga_title }}</a>
                </li>
            {% endfor %}
        </ul>
    {% empty %}
        <p>No mangas found.</p>
    {% endfor %}
{% endblock %}