{% extends "base.html" %}

{% block content %}

    <h2>Your Manga List</h2>

    {% if stats %}
    Statistics: <br>
    🔹 Total = {{ stats.total_mangas }} <br>
    🔹 <a href="{{ request.path }}all_read" id="stats">All Read</a> = {{ stats.read_mangas }}/{{ stats.total_mangas }} <br>
    🔹 <a href="{{ request.path }}all_unread" id="stats">Unread</a> = {{ stats.unread_mangas }}/{{ stats.total_mangas }} <br>
    🔹 <a href="{{ request.path }}all_published" id="stats">Fully published</a> = {{ stats.all_published_mangas }}/{{ stats.total_mangas }} <br>
    🔹 <a href="{{ request.path }}completed" id="stats">Completed</a> = {{ stats.completed_mangas }}/{{ stats.total_mangas }} <br>
    🔹 <a href="{{ request.path }}uncompleted" id="stats">Uncompleted</a> = {{ stats.uncompleted_mangas }}/{{ stats.total_mangas }} <br>
    🔹 <a href="{{ request.path }}completed_unread" id="stats">Completed but unread</a> = {{ stats.completed_but_unread_mangas }}/{{ stats.total_mangas }} <br>
    🔹 <a href="{{ request.path }}published_uncompleted" id="stats">Published but uncompleted</a> = {{ stats.published_uncompleted }}/{{ stats.total_mangas }} <br>
    🔹 Total money spent = {{ stats.total_money_spent }} <br>
    <br>
    {% endif %}

    <!-- Sort by Dropdown -->
    <div class="sort-options">
        <label for="sort">Sort by:</label>
        <button onclick="window.location.href='{{ request.path }}?sort=location'">Location</button>
    </div>

    
    <ul>
        {% for manga in user_manga %}
            <li id="centralized-li"><a href="{% url 'manga_detail' manga_id=manga.id %}">{{ manga.manga_title }}</a></li>
        {% empty %}
            <li id="centralized-li">No manga found.</li>
        {% endfor %}
    </ul>
{% endblock %}
