{% extends 'base.html' %}

{% block content %}
<h2>{{ variant.variant_title }}</h2>

{% if images %}
<ul>
  <li id="centralized-li">
    <div style="display: flex; gap: 10px; flex-wrap: wrap;">
      {% for image in images %}
        <div>
          <img src="{{ image.image.url }}" alt="Variant Image" style="max-width: 400px; height: auto; max-height: 400px;">
        </div>
      {% endfor %}
    </div>
  </li>
</ul>
{% else %}
  <p>No images uploaded.</p>
{% endif %}

<ul>
  <li><strong>Related Manga Title:</strong> {{ variant.related_manga_title }}</li>
  <li><strong>Description:</strong> {{ variant.description }}</li>
  <li><strong>Stock Price:</strong> {{ variant.stock_price }} €</li>
  <li><strong>Current Selling Price:</strong> {{ variant.current_selling_price }} €</li>
  <li><strong>Physical Position:</strong> {{ variant.physical_position }}</li>
  <li><strong>Owned Copies:</strong> {{ variant.number_of_owned_copies }}</li>
  <li><strong>Vinted Description:</strong> {{ variant.vinted_description }}</li>
  

</ul>

<h3>Copies Sold:</h3>
{% if variant.copies_sold %}
  <ul>
    {% for copy in variant.copies_sold %}
      <li>- Sold {{ copy.amount }} copies for {{ copy.price }} €</li>
    {% endfor %}
  </ul>
{% else %}
  <p>No copies sold yet.</p>
{% endif %}

<h3>Useful Links:</h3>
{% if variant.useful_links %}
  <ul>
    {% for link in variant.useful_links %}
      <li><a href="{{ link }}" target="_blank">{{ link }}</a></li>
    {% endfor %}
  </ul>
{% else %}
  <p>No useful links provided.</p>
{% endif %}

<div class="btn-container">
  <a href="{% url 'edit_variant' variant.id %}" class="btn btn-primary">Edit</a>
  <a href="{% url 'delete_variant' variant.id %}" class="btn btn-danger">Delete</a>
</div>

{% endblock %}
